<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ groups['name_node'][0] }}:{{ hdfs_namenode_port }}</value>
  </property>
</configuration>
