export HADOOP_OPTS={{ hdfs_hadoop_opts }}
export HADOOP_CONF_DIR={{ hdfs_conf_dir }}
export HADOOP_PREFIX={{ hdfs_install_dir }}/hadoop
export HADOOP_HOME={{ hdfs_install_dir }}/hadoop
export JAVA_HOME=/etc/alternatives/jre_1.8.0
export PATH=$PATH:$HADOOP_PREFIX/bin:$HADOOP_PREFIX/sbin
