export MESOS_NATIVE_JAVA_LIBRARY={{ spark_mesos_lib }}
export SPARK_EXECUTOR_URI="file://{{ spark_client_dir }}/spark-{{ spark_version }}-bin-hadoop2.6.tgz" 
export MASTER="mesos://zk://{{ zookeeper_master }}:2181/mesos"
export PATH=$PATH:{{ spark_client_dir }}/spark-{{ spark_version }}-bin-hadoop2.6/bin
