export MESOS_NATIVE_JAVA_LIBRARY={{ spark_mesos_lib }}
export SPARK_EXECUTOR_URI="file://{{ spark_install_dir }}/{{ item }}.tgz" 
export SPARK_HOME="{{ spark_install_dir }}/{{ item }}"
export MASTER="mesos://zk://{{ zookeeper_master }}:2181/mesos"
export PATH={{ spark_install_dir }}/{{ item }}/bin:$PATH
