[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/kubernetes/environ

ExecStart=/usr/bin/kubelet \
  --api-servers=http://localhost:8085 \
  --register-node=false \
  --hostname-override={{ ansible_hostname }} \
  --allow-privileged=true \
  --cluster-dns={{ dns_server }} \
  --cluster-domain={{ dns_domain }} \
  --config={{ kube_manifest_dir }} {% if enable_cloud_provider %}\
  --cloud-provider={{ cloud_provider }} \
  --cloud-config={{ cloud_provider_config }} {% endif %} \
  {% if groups['role=kubeworker'][0]['calico_image'] is defined -%}--network_plugin=calico{% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
