TypesDB "/usr/share/collectd/plugins/dockerplugin.db"
LoadPlugin python

<Plugin python>
  ModulePath "/usr/share/collectd/plugins"
  Import "dockerplugin"

  <Module dockerplugin>
    BaseURL "unix://var/run/docker.sock"
  </Module>


  Import "mesos-master"
  <Module "mesos-master">
    Host "{{ mesos_master_host }}"
    Port {{ mesos_master_port }}
    Verbose false
    Version "0.21.0"
  </Module>

  Import "mesos-slave"

  <Module "mesos-slave">
    Host "{{ mesos_slave_host }}"
    Port {{ mesos_slave_port }}
    Verbose false
    Version "0.21.0"
  </Module>

  Import "marathon"

  <Module "marathon">
    Host "{{ marathon_host }}"
    Port {{ marathon_port }}
    Verbose false
  </Module>

</Plugin>
