[Unit]
Description=logstash
After=docker.service
Requires=docker.service
Requires=dnsmasq.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm logstash
ExecStartPre=-/usr/bin/docker pull {{ logstash_image }}:{{ logstash_image_tag }}

ExecStart=/usr/bin/docker run \
    --rm \
    --name=logstash \
    --net=host \
    --log-driver=none \
    --privileged=true \
    --volume=/etc/logstash.d:/config-dir \
    --volume=/var/lib/docker/containers:/logs/docker:ro \
    --volume=/var/log/mesos:/logs/mesos:ro \
{% if "'role=worker' in group_names" %}
    --volume=/tmp/mesos/slaves:/logs/slaves:ro \
{% endif %}
{% if "'role=control' in group_names" %}
    --volume=/var/log/zookeeper:/logs/zookeeper:ro \
{% endif %}
    --volume=/usr/share/collectd:/collectd:ro \
    {{ logstash_image }}:{{ logstash_image_tag }} \
    logstash -f /config-dir/logstash.conf

ExecStop=/bin/bash -c " \
    /usr/bin/docker kill logstash && \
    /usr/bin/docker rm logstash"

[Install]
WantedBy=multi-user.target
